version: "3.9"

services:
  backend:
    build:
      context: ./server
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    depends_on:
      - postgres
      - valkey

  postgres:
    image: postgres:15
    container_name: url_shortener_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: url_shortener
    volumes:
      - postgres_data:/var/lib/postgresql/data

  valkey:
    image: valkey/valkey
    container_name: url_shortener_valkey
    ports:
      - "6379:6379"

volumes:
  postgres_data:
