version: "3.9"

services:
  backend:
    build:
      context: ./server
    ports:
      - "3002:3002"
    env_file:
      - ./server/.env
    depends_on:
      - postgres
      - valkey

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: url_shortener
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./server/db/init.sql:/docker-entrypoint-initdb.d/init.sql

  valkey:
    image: valkey/valkey
    ports:
      - "6379:6379"

  adminer:
    image: adminer
    ports:
      - "8082:8080"
    depends_on:
      - postgres

volumes:
  postgres_data:
